
.hidden {
  opacity: 0;
  transform: translateY(32px);
  transition: opacity var(--anim-duration) var(--anim-ease), transform var(--anim-duration) var(--anim-ease);
  will-change: opacity, transform;
}

.visible {
  opacity: 1 !important;
  transform: translateY(0);
}
